.new-employee-form {
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: solid 2px #1e66fe;
  border-radius: 20px;

  & img {
    height: 50px;
    width: 50px;
  }

  &__title {
    font-family: 'Bree Serif', serif;
    background-color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    position: absolute;
    top: -10px;
    left: 25px;
    color: #1e66fe;
  }

  &__location {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    &__state {
      width: 48%;
    }
    &__zip {
      width: 48%;
    }
  }

  &__save {
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    & button {
      width: 50%;
      padding: 10px;
      border-radius: 30px;
    }
  }
  & svg {
    color: #1e66fe;
  }
}

@media screen and (max-width: 600px) {
  .main {
    margin-top: 60px;
  }
}
